.imgg {
    text-align: center;
}

.insta-logo {
    text-align: center;
    margin-right: 3px;
}

.yt-logo {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}